<div class="users_base">
  <h1 class="white"> Welcome New Nerd Friend!</h1>
  <h2 class="blue"> Please sign up below.</h2>

  <div class="left_users"> 

    <%= simple_form_for @user do |f| %>
      <%= f.input :name, placeholder: "Choose a username", input_html: { class: 'user_first' }  %>
      <%= f.input :email, placeholder: "What's your email address?", input_html: { class: 'user' }  %>
      <%= f.input :password, placeholder: "Choose a password", input_html: { class: 'user' }  %>
      <%= f.input :password_confirmation, placeholder: "What was that password again?", input_html: { class: 'user' }  %>
      <%=f.button :submit, "Sign me up, coach!", class: "user" %>

    <% end %>
  </div>

  <div class="right_users">
    <%= image_tag("buzzer.jpg", :alt => "Hand with quiz bowl buzzer") %>
  </div>

</div> 