<div class="home_base">
  <h1 class="blue"> Welcome New Nerd!</h1>
  <h2 class="blue"> Please sign up below.</h2>

  <div class="wide_home">

    <%= simple_form_for @user do |f| %>
      <%= f.input_field :name, placeholder: "Choose a username", input_html: { class: 'user' }  %>
      <%= f.input_field :email, placeholder: "What's your email address?", input_html: { class: 'user' }  %>
      <%= f.input_field :password, placeholder: "Choose a password", input_html: { class: 'user' }  %>
      <%= f.input_field :password_confirmation, placeholder: "What was that password again?", input_html: { class: 'user' }  %>
      <%=f.button :submit, "Sign me up, coach!", class: "user" %>

    <% end %>
  </div>

  <div class="right_home">
    <%= image_tag("buzzer.jpg", :alt => "Hand with quiz bowl buzzer") %>
  </div>

</div> 