<h1>Edit Your Player Profile</h1>

<%= simple_form_for @player, url: player_path, method: :put do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :cell %>
  <%= f.button :submit, "Save Changes" %>
<% end %>