<h1>
  <%= "Here is your profile:" %>
</h1>
<h4>
  <%= "#{@player.first_name} #{@player.last_name[0]}" %>
</h4>
<p>
  <%= "Email: #{@player.email}" %>
</p>
<p>
  <%= "Cell: #{@player.cell}" %>
</p>
<p>
  <%= "Points: #{@player.points}" %>
</p>
<p>
  <%= "Negs: #{@player.negs}" %>
</p>
