%h1= "Here is your profile:"

%h4= "#{@player.first_name} #{@player.last_name[0]}"
%p= "Email: #{@player.email}"
%p= "Cell: #{@player.cell}"
%p= "Points: #{@player.points}"
%p= "Negs: #{@player.negs}"
