<div class="home_base">
  <h1> Welcome Back, Nerd Friend!</h1>
  
  <div class="wide_home">
  <%= simple_form_for @user, url: user_session_path do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.button :submit, "Let's do this!" %>
  <% end %>
  </div>

  <div class="right_home">
    <%= image_tag("quizbowl.jpg", :alt => "Keep Calm and Quiz Bowl") %>
  </div>

</div>